--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg120+1)
-- Dumped by pg_dump version 17.2 (Debian 17.2-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citus; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citus WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION citus; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citus IS 'Citus distributed database';


--
-- Name: citus_columnar; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citus_columnar WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION citus_columnar; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citus_columnar IS 'Citus Columnar extension';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: almacen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.almacen (
    id_almacen integer NOT NULL,
    nombre character varying(100) NOT NULL,
    ubicacion character varying(200) NOT NULL,
    capacidad numeric(12,2),
    id_ubicacion integer NOT NULL
);


ALTER TABLE public.almacen OWNER TO postgres;

--
-- Name: almacen_id_almacen_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.almacen_id_almacen_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.almacen_id_almacen_seq OWNER TO postgres;

--
-- Name: almacen_id_almacen_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.almacen_id_almacen_seq OWNED BY public.almacen.id_almacen;


--
-- Name: existencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.existencia (
    id_existencia integer NOT NULL,
    id_almacen integer NOT NULL,
    id_producto integer NOT NULL,
    cantidad numeric(12,2) DEFAULT 0,
    id_ubicacion integer NOT NULL,
    CONSTRAINT existencia_cantidad_check CHECK ((cantidad >= (0)::numeric))
);


ALTER TABLE public.existencia OWNER TO postgres;

--
-- Name: existencia_id_existencia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.existencia_id_existencia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.existencia_id_existencia_seq OWNER TO postgres;

--
-- Name: existencia_id_existencia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.existencia_id_existencia_seq OWNED BY public.existencia.id_existencia;


--
-- Name: lote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lote (
    id_lote integer NOT NULL,
    id_producto integer NOT NULL,
    codigo_lote character varying(50) NOT NULL,
    fecha_fabricacion date,
    fecha_vencimiento date,
    cantidad_inicial numeric(12,2) NOT NULL
);


ALTER TABLE public.lote OWNER TO postgres;

--
-- Name: lote_id_lote_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lote_id_lote_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lote_id_lote_seq OWNER TO postgres;

--
-- Name: lote_id_lote_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lote_id_lote_seq OWNED BY public.lote.id_lote;


--
-- Name: movimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimiento (
    id_movimiento integer NOT NULL,
    id_existencia integer NOT NULL,
    tipo character varying(10) NOT NULL,
    cantidad numeric(12,2) NOT NULL,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    observacion text,
    id_ubicacion integer NOT NULL,
    CONSTRAINT movimiento_cantidad_check CHECK ((cantidad > (0)::numeric)),
    CONSTRAINT movimiento_tipo_check CHECK (((tipo)::text = ANY (ARRAY[('INGRESO'::character varying)::text, ('EGRESO'::character varying)::text])))
);


ALTER TABLE public.movimiento OWNER TO postgres;

--
-- Name: movimiento_id_movimiento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movimiento_id_movimiento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimiento_id_movimiento_seq OWNER TO postgres;

--
-- Name: movimiento_id_movimiento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.movimiento_id_movimiento_seq OWNED BY public.movimiento.id_movimiento;


--
-- Name: movimiento_m1; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimiento_m1 (
    id_existencia integer NOT NULL,
    id_movimiento integer NOT NULL,
    tipo character varying(10),
    cantidad numeric(12,2),
    fecha timestamp without time zone,
    id_ubicacion integer NOT NULL
);


ALTER TABLE public.movimiento_m1 OWNER TO postgres;

--
-- Name: movimiento_m2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimiento_m2 (
    id_existencia integer NOT NULL,
    observacion text,
    id_ubicacion integer NOT NULL,
    id_movimiento integer NOT NULL
);


ALTER TABLE public.movimiento_m2 OWNER TO postgres;

--
-- Name: producto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.producto (
    id_producto integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    unidad_medida character varying(20) NOT NULL,
    estado boolean DEFAULT true
);


ALTER TABLE public.producto OWNER TO postgres;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.producto_id_producto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_id_producto_seq OWNER TO postgres;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.producto_id_producto_seq OWNED BY public.producto.id_producto;


--
-- Name: solicitud_movimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitud_movimiento (
    id_solicitud integer NOT NULL,
    id_producto integer NOT NULL,
    id_almacen_origen integer NOT NULL,
    id_almacen_destino integer NOT NULL,
    cantidad numeric(12,2) NOT NULL,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estado character varying(20) DEFAULT 'PENDIENTE'::character varying,
    id_ubicacion integer NOT NULL,
    CONSTRAINT solicitud_movimiento_cantidad_check CHECK ((cantidad > (0)::numeric))
);


ALTER TABLE public.solicitud_movimiento OWNER TO postgres;

--
-- Name: solicitud_movimiento_id_solicitud_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.solicitud_movimiento_id_solicitud_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.solicitud_movimiento_id_solicitud_seq OWNER TO postgres;

--
-- Name: solicitud_movimiento_id_solicitud_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.solicitud_movimiento_id_solicitud_seq OWNED BY public.solicitud_movimiento.id_solicitud;


--
-- Name: ubicacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ubicacion (
    id integer NOT NULL,
    ubicacion character varying(50) NOT NULL
);


ALTER TABLE public.ubicacion OWNER TO postgres;

--
-- Name: almacen id_almacen; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.almacen ALTER COLUMN id_almacen SET DEFAULT nextval('public.almacen_id_almacen_seq'::regclass);


--
-- Name: existencia id_existencia; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.existencia ALTER COLUMN id_existencia SET DEFAULT nextval('public.existencia_id_existencia_seq'::regclass);


--
-- Name: lote id_lote; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote ALTER COLUMN id_lote SET DEFAULT nextval('public.lote_id_lote_seq'::regclass);


--
-- Name: movimiento id_movimiento; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento ALTER COLUMN id_movimiento SET DEFAULT nextval('public.movimiento_id_movimiento_seq'::regclass);


--
-- Name: producto id_producto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto ALTER COLUMN id_producto SET DEFAULT nextval('public.producto_id_producto_seq'::regclass);


--
-- Name: solicitud_movimiento id_solicitud; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_movimiento ALTER COLUMN id_solicitud SET DEFAULT nextval('public.solicitud_movimiento_id_solicitud_seq'::regclass);


--
-- Data for Name: almacen; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: existencia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lote; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimiento_m1; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimiento_m2; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: solicitud_movimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ubicacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ubicacion (id, ubicacion) FROM stdin;
1	Barcelona
3	Madrid
2	Sevilla
\.


--
-- Name: almacen_id_almacen_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.almacen_id_almacen_seq', 1, false);


--
-- Name: existencia_id_existencia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.existencia_id_existencia_seq', 1, false);


--
-- Name: lote_id_lote_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lote_id_lote_seq', 1, false);


--
-- Name: movimiento_id_movimiento_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movimiento_id_movimiento_seq', 1, false);


--
-- Name: producto_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.producto_id_producto_seq', 1, false);


--
-- Name: solicitud_movimiento_id_solicitud_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.solicitud_movimiento_id_solicitud_seq', 1, false);


--
-- Name: almacen almacen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.almacen
    ADD CONSTRAINT almacen_pkey PRIMARY KEY (id_almacen, id_ubicacion);


--
-- Name: existencia existencia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.existencia
    ADD CONSTRAINT existencia_pkey PRIMARY KEY (id_existencia, id_ubicacion);


--
-- Name: lote lote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT lote_pkey PRIMARY KEY (id_lote);


--
-- Name: movimiento_m1 movimiento_m1_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_m1
    ADD CONSTRAINT movimiento_m1_pkey PRIMARY KEY (id_ubicacion, id_movimiento, id_existencia);


--
-- Name: movimiento_m2 movimiento_m2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_m2
    ADD CONSTRAINT movimiento_m2_pkey PRIMARY KEY (id_ubicacion, id_movimiento, id_existencia);


--
-- Name: movimiento movimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento
    ADD CONSTRAINT movimiento_pkey PRIMARY KEY (id_movimiento, id_existencia, id_ubicacion);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id_producto);


--
-- Name: solicitud_movimiento solicitud_movimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_movimiento
    ADD CONSTRAINT solicitud_movimiento_pkey PRIMARY KEY (id_solicitud, id_ubicacion);


--
-- Name: ubicacion ubicacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ubicacion
    ADD CONSTRAINT ubicacion_pkey PRIMARY KEY (id);


--
-- Name: idx_existencia_id_producto_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_existencia_id_producto_hash ON public.existencia USING hash (id_producto);


--
-- Name: idx_lote_fecha_vencimiento_btree; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lote_fecha_vencimiento_btree ON public.lote USING btree (fecha_vencimiento);


--
-- Name: idx_movimiento_fecha_btree; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movimiento_fecha_btree ON public.movimiento USING btree (fecha);


--
-- Name: idx_producto_id_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_id_hash ON public.producto USING hash (id_producto);


--
-- Name: existencia existencia_id_almacen_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.existencia
    ADD CONSTRAINT existencia_id_almacen_fkey FOREIGN KEY (id_almacen, id_ubicacion) REFERENCES public.almacen(id_almacen, id_ubicacion) ON DELETE RESTRICT;


--
-- Name: existencia existencia_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.existencia
    ADD CONSTRAINT existencia_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: lote lote_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT lote_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: movimiento movimiento_id_existencia_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento
    ADD CONSTRAINT movimiento_id_existencia_fkey FOREIGN KEY (id_existencia, id_ubicacion) REFERENCES public.existencia(id_existencia, id_ubicacion) ON DELETE CASCADE;


--
-- Name: movimiento_m1 movimiento_m1_existencia_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_m1
    ADD CONSTRAINT movimiento_m1_existencia_fkey FOREIGN KEY (id_existencia, id_ubicacion) REFERENCES public.existencia(id_existencia, id_ubicacion) ON DELETE RESTRICT;


--
-- Name: movimiento_m2 movimiento_m2_existencia_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_m2
    ADD CONSTRAINT movimiento_m2_existencia_fkey FOREIGN KEY (id_existencia, id_ubicacion) REFERENCES public.existencia(id_existencia, id_ubicacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: solicitud_movimiento solicitud_movimiento_id_almacen_destino_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_movimiento
    ADD CONSTRAINT solicitud_movimiento_id_almacen_destino_fkey FOREIGN KEY (id_almacen_destino, id_ubicacion) REFERENCES public.almacen(id_almacen, id_ubicacion) ON DELETE RESTRICT;


--
-- Name: solicitud_movimiento solicitud_movimiento_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_movimiento
    ADD CONSTRAINT solicitud_movimiento_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- PostgreSQL database dump complete
--

